body {
  background-image: url('../img/fondo.jpg');
  background-size: 100%;
}

#logo {
  width: 20%;
}

#linea {
  border: 1px solid #ffc500;
}

.cardPer {
  height: 350px;
}

.starPerson {
  background-color: #000;
  border: 1px solid #ffc500;
}

p {
  margin-top: -40px;
  color: #fff;
  font-size: 2em;
  text-align: center;
}